@import url("https://cdn.jsdelivr.net/npm/sgds-govtech@1.3.17/css/sgds.css");

@font-face {
  font-family: "Open Sans";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Lato";
	src: url("/src/assets/font/Lato-Regular.ttf");
}

.sgds-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sgds-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.external-link::after {
  display: inline-block;
  font-family: "sgds-icons";
  content: "\e95c";
  padding-left: 0.25rem;
}

.btn_right {
  float: right;
}

.form_btn {
  text-align: center;
  margin: 50px auto;
}

.center {
  padding: 12rem 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inlinecontent {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.content {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.spacer1 {
  padding-top: 1em;
}

.spacer2 {
  padding-top: 2em;
}

.spacer3 {
  padding-top: 3em;
}

.spacer4 {
  padding-top: 4em;
}

.spacer5 {
  padding-top: 5em;
}

.animatedicon {
  width: 120px;
  height: auto;
}

.buttonsuccess {
  background-color: #4FC029 !important;
}

.buttonerror {
  background-color: #C60000 !important;
}

.textleft {
  text-align: left !important;
}

.textright {
  text-align: right !important;
}

.column2 {
  grid-template-columns: auto auto !important;
  column-gap: 7rem !important;
}

.column4 {
  grid-template-columns: auto auto auto auto !important;
  column-gap: 7rem !important;
}

.checkicon {
  color: rgb(79, 192, 41);
  font-size: 4rem;
  padding: 2rem 0.5rem;
  border: 2px solid rgb(79, 192, 41);
  border-radius: 100%;
}