@import url("https://cdn.jsdelivr.net/npm/sgds-govtech@1.3.17/css/sgds.css");

@font-face {
  font-family: "Open Sans";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Semibold.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("https://mol-mgmt-app-assets.s3-ap-southeast-1.amazonaws.com/lifesg/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Lato";
	src: url("/src/assets/font/Lato-Regular.ttf");
}

.sgds-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sgds-icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.external-link::after {
  display: inline-block;
  font-family: "sgds-icons";
  content: "\e95c";
  padding-left: 0.25rem;
}

.btn_right {
  float: right;
}

.form_btn {
  text-align: center;
  margin: 50px auto;
}

.center {
  padding: 12rem 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inlinecontent {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.content {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.spacer1 {
  padding-top: 1em;
}

.spacer2 {
  padding-top: 2em;
}

.spacer3 {
  padding-top: 3em;
}

.spacer4 {
  padding-top: 4em;
}

.spacer5 {
  padding-top: 5em;
}

.animatedicon {
  width: 120px;
  height: auto;
}

.buttonsuccess {
  background-color: #4FC029 !important;
}

.buttonerror {
  background-color: #C60000 !important;
}

.textleft {
  text-align: left !important;
}

.textright {
  text-align: right !important;
}

.column2 {
  grid-template-columns: auto auto !important;
  column-gap: 7rem !important;
}

.column4 {
  grid-template-columns: auto auto auto auto !important;
  column-gap: 7rem !important;
  white-space: pre-wrap;
}

.column4 p:nth-child(1), .column4 p:nth-child(2), .column4 p:nth-child(3), .column4 p:nth-child(4) {
  white-space: nowrap !important;
}

.checkicon {
  color: rgb(79, 192, 41);
  font-size: 4rem;
  padding: 2rem 0.5rem;
  border: 2px solid rgb(79, 192, 41);
  border-radius: 100%;
}

.servicecountergrid {
  padding: 2rem;
  max-width: 100%;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .servicecountergrid {
    max-width: 768px;
    overflow: hidden !important;
  }

  .column4 {
    grid-template-columns: auto auto !important;
    column-gap: 5rem !important;
    
  }

  .column4 p:nth-child(1), .column4 p:nth-child(2) {
    margin-bottom: 2.2em;
  }

  .column4 p:nth-child(3), .column4 p:nth-child(4) {
    margin: 1.2em 0 2.2em;
  }

  .column4 p:nth-child(5), .column4 p:nth-child(6) {
    margin: -6.7em 0 0;
  }

  .column4 p:nth-child(7), .column4 p:nth-child(8) {
    margin: -2em 0 0;
  }

  .dashboard .columnHalf, .dashboard .column {
    float: none !important;
    width: 100% !important;
  }

  .dashboard b {
    font-size: 60px !important;
  }
}

@media only screen and (max-width: 480px) {
  .column4 {
    grid-template-columns: auto !important;
  }

  .column4 p:nth-child(1), .column4 p:nth-child(2), .column4 p:nth-child(3), .column4 p:nth-child(4) {
    margin: 0 0 3em !important;
  }

  .column4 p:nth-child(5) {
    margin: -15.9em 0 0;
  }

  .column4 p:nth-child(6) {
    margin: -11.6em 0 0;
  }

  .column4 p:nth-child(7) {
    margin: -7.1em 0 0 ;
  }

  .column4 p:nth-child(8) {
    margin: -2.5em 0 0 ;
  }


}